* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    background: linear-gradient(to right, #007bff, #4caf50);
}
.header {
    margin-top: 30px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Input.css */

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.input-text {
    display: flex;
    align-items: center;
}

.input-text input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin-right: 8px;
}
.input-text button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.input-text button:hover {
    background-color: #0056b3;
}

.todo-list {
    margin-top: 20px;
}

.todo-list h5 {
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.delete-button {
    background-color: #ff3333;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 8px;
    margin-left: 3px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #cc0000;
}
